### Practica # 21 – Tuplas. 
#### (Resolver 10 de 15)

#### 1. Crea una tupla con números enteros con algunos de ellos repetidos, pide un número por teclado e indica cuantas veces se repite si estuviese en la tupla.

In [8]:
numeros = (2,3,5,6,4,3,2,1,2,3,4,5)
contador = 0
numero = int(input("Introdzca el número a buscar..."))
for i in numeros:
    if i == numero:
        contador += 1
print(f"El número introducido '{numero}' se repite '{contador}' veces en la Tupla")

El número introducido '5' se repite '2' veces en la Tupla

#### 2. Crea una tupla con números e indica el número con mayor valor y el de menor valor.

In [18]:
numeros = (2,3,5,6,4,-3,9,1,2,12,7,4,5)
mayor = 0
menor = 0
for i in numeros:
    if i > mayor:
        mayor = i
    elif i < menor:
        menor = i
print(f"El número MAYOR es '{mayor}' y el menor es '{menor}' en la Tupla")

El número MAYOR es '12' y el menor es '-3' en la Tupla

#### 3. Crea una tupla con valores ya predefinidos del 1 al 10, pide un índice por teclado y muestra los valores de la tupla.

In [25]:
numeros = (1,2,3,4,5,6,7,8,9,10)
indice = int(input("Introdzca un INDICE a buscar..."))

for i in range(0, numeros.__len__()):
    if i == indice:
        print(f"El índice '{indice}' contiene el valor '{numeros[i]}'")
        break

El índice '9' contiene el valor '10'

#### 4. Escribir un código donde se le pide al usuario almacenar en una tupla el día, mes y año (todos en formato entero) y luego que imprima dicha fecha en el formato: "03/27/2023".

In [30]:
dia = int(input("Introduzca el DÍA del mes..."))
mes = int(input("Introduzca el MES en número..."))
anio = int(input("Introduzca el AÑO con 4 dígitos..."))

fecha = (dia, mes, anio)
for i in fecha:
    if i != anio:
        print(i, end="/")
    else:
        print(i, end="")

27/3/1978

#### 5. Definir una tupla con tes valores enteros. Convertir el contenido de la tupla a tipo lista. Modificar la lista y luego convertir la lista en tupla.

In [33]:
tupla = (1, 2, 3)
print(f"Impresión de la TUPLA: '{tupla}'")
lista = list(tupla)
print(f"Transformamos tupla a LISTA e imprimimos: '{lista}'")
print(f"Transformamos lista a TUPLA e imprimimos: '{tuple(lista)}'")

Impresión de la TUPLA: '(1, 2, 3)'
Transformamos tupla a LISTA e imprimimos: '[1, 2, 3]'
Transformamos lista a TUPLA e imprimimos: '(1, 2, 3)'

#### 6. Crear una tupla y luego imprimirla en orden inverso en otra variable(otra tupla).

In [38]:
tupla = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
tupla_rev = reversed(tupla)
for i in tupla_rev:
    print(i)

10
9
8
7
6
5
4
3
2
1

#### 7. Dada la tupla: "tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))". Acceder al valor '20' e imprimir en una nueva variable.

In [41]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
cadena, lista, tupla2 = tuple1

print(f"Imprimimos el número veinte de la lista: '{lista[1]}'")
for i in lista:
    if i == 20:
        print(f"Hemos encontrado el número veinte: '{i}'")

Imprimimos el número veinte de la lista: '20'
Hemos encontrado el número veinte: '20'

#### 8. Escriba un programa para descomprimir la siguiente tupla en cuatro variables e imprimir cada variable: "tuple1 = (10, 20, 30, 40)"

#### Salida esperada
#### tuple1 = (10, 20, 30, 40)
#### Your code
#### print(a) # should print 10
#### print(b) # should print 20
#### print(c) # should print 30
#### print(d) # should print 40

In [42]:
tuple1 = (10, 20, 30, 40)
a,b,c,d = tuple1
print(a)
print(b)
print(c)
print(d)

10
20
30
40

#### 9. Intercambiar dos tuplas dadas en Python:

#### tuple1 = (11, 22)
#### tuple2 = (99, 88)
#### Salida esperada:
#### tuple1 = (99, 88)
#### tuple2 = (11, 22)

In [48]:
tuple1 = (11, 22)
tuple2 = (99, 88)
tuple1, tuple2 = tuple2, tuple1
print(f"tuple1 = {tuple1}")
print(f"tuple2 = {tuple2}")

# Funciona:
#a, b = tuple1
#c, d = tuple2
#nueva_tupla1 = (c, d)
#nueva_tupla2 = (a, b)
#print(f"tuple1 = {nueva_tupla1}")
#print(f"tuple2 = {nueva_tupla2}")

tuple1 = (99, 88)
tuple2 = (11, 22)

#### 10. ¿Cuántas veces aparece 777 en la siguiente tupla? Escribir código
#### tt =(55, 6, 777, 54, 6, 76, 7777, 1, 777, 2, 6)

In [57]:
tt =(55, 6, 777, 54, 6, 76, 7777, 1, 777, 2, 6)
contador = sum(str(numero).count('777') for numero in tt)
print(f"'777' aparece '{contador}' veces en la tupla '{tt}'")

'777' aparece '3' veces en la tupla '(55, 6, 777, 54, 6, 76, 7777, 1, 777, 2, 6)'